<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <link rel="stylesheet" href="/css/master.css">
    <meta charset="utf-8">
    <title>S|Food</title>
  </head>
  <body>
    <nav>
     <div class="nav-wrapper">
       <a href="/" class="brand-logo">S|Food</a>
      </div>
   </nav>
    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
